.ui-splitPane-handle,
.ui-splitPane-handle-bar {
    z-index: 200;
    position: absolute;
}

.ui-splitPane-handle {
    background: #999;

}

.ui-splitPane-handle-bar {
    display: none;
    background: #999;
    overflow: hidden;
}

.ui-splitPane-handle-ext {
    background: url(extv.png);
    position: absolute;
}

/* horizontal */

.ui-splitPane-handle_h {
    cursor: ns-resize;
    cursor: row-resize;
    width: 100%;
}

.ui-splitPane-handle-bar_h {
    width: 100%;
    height: 1px;
    left: 0px;
    top: 2px;
}

/* vertical */

.ui-splitPane-handle_v {
    cursor: ew-resize;
    cursor: col-resize;
    height: 100%;
}

.ui-splitPane-handle-bar_v {
    height: 100%;
    width: 1px;
    top: 0px;
    left: 2px;
}


/* thin (1px) */

.ui-splitPane-handle_thin .ui-splitPane-handle-bar {
    display: block;
}

.ui-splitPane-handle_thin.ui-splitPane-handle {
    background: url(x.gif);
}

.ui-splitPane-handle_thin.ui-splitPane-handle_v {
    width: 5px !important;
    margin-left: -2px;
}

.ui-splitPane-handle_thin.ui-splitPane-handle_h {
    height: 5px !important;
    margin-top: -2px;
}
