.ui-split-handle,
.ui-split-handle-bar {
    z-index: 999;
    position: absolute;
}

.ui-split-handle {
    background: #CCC;
}

.ui-split-handle-bar {
    display: none;
    background: #CCC;
    overflow: hidden;
}

.ui-split-handle-ext {
    background: url(extv.png);
    position: absolute;
}

/* horizontal */

.ui-split-handle-h {
    cursor: ns-resize;
    cursor: row-resize;
    width: 100%;
}

.ui-split-handle-bar-h {
    width: 100%;
    height: 1px;
    left: 0px;
    top: 2px;
}

/* vertical */

.ui-split-handle-v {
    cursor: ew-resize;
    cursor: col-resize;
    height: 100%;
}

.ui-split-handle-bar-v {
    height: 100%;
    width: 1px;
    top: 0px;
    left: 2px;
}


/* thin (1px) */

.ui-split-handle-thin .ui-split-handle-bar {
    display: block;
}

.ui-split-handle-thin.ui-split-handle {
    background: url(x.gif);
}

.ui-split-handle-thin.ui-split-handle-v {
    width: 5px !important;
    margin-left: -2px;
}

.ui-split-handle-thin.ui-split-handle-h {
    height: 5px !important;
    margin-top: -2px;
}

/*

  more style:

.ui-split {}
.ui-split-can {}
.ui-split-can-a {}
.ui-split-can-b {}

 */
