.ui-flow {
    display: block;
    padding: 0;
    margin: 0;
}

.ui-flow-item {
    display: block;
    padding: 0;
    margin: 0;
}

/* 
    Warning: in horizontal mode flow useses clearfix, that may cause
    problems if flow itself is floating. See 
    http://www.positioniseverything.net/easyclearing.html
    for more info.
*/

.ui-flow-horizontal:after {
    clear: both;
    content: '.';
    display: block;
    height: 0px;
    line-height: 0;
    visibility: hidden;
}

.ui-flow-horizontal {
    *zoom: 1;
}

.ui-flow-horizontal > .ui-flow-item {
    float: left;
}

/* Spacing */
.ui-flow-spacing-small {
    margin: 0;
}

.ui-flow-spacing-small > .ui-flow-item {
    margin: 5px 0 0 0;
}

.ui-flow-spacing-medium > .ui-flow-item {
    margin: 10px 0 0 0;
}

.ui-flow-spacing-large > .ui-flow-item {
    margin: 20px 0 0 0;
}

.ui-flow .ui-flow-item:first-child {
    margin-top: 0;
}


/* Spacing for horizontal */
.ui-flow-horizontal.ui-flow-spacing-small > .ui-flow-item {
    margin: 0 0 0 5px;
}

.ui-flow-horizontal.ui-flow-spacing-medium > .ui-flow-item {
    margin: 0 0 0 10px;
}

.ui-flow-horizontal.ui-flow-spacing-large > .ui-flow-item {
    margin: 0 0 0 20px;
}

.ui-flow-horizontal.ui-flow > .ui-flow-item:first-child {
    margin-left: 0;
}