.ui-nc-select {
    margin: 0;
}

.uki-nc-text {
    display: inline-block;
    *display: inline;
    *zoom: 1;

    border: solid 1px #BDBDBD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    /* -webkit-box-shadow: rgba(0, 0, 0, 0.33) -1px -1px 1px inset; */
    /* -moz-box-shadow: rgba(0, 0, 0, 0.33) -1px -1px 1px inset; */
    /* box-shadow: rgba(0, 0, 0, 0.33) -1px -1px 1px inset; */
}

.uki-nc-text > input, textarea {
    margin: 0;
    padding: 2px;
    width: 100%;
    *width: auto;
    height: 100%;

    border: solid 1px #EEE;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;

    font-size: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.uki-nc-text > *[name=placholder] {
    position: absolute;
    color: #888;
}

.uki-nc-text_with-placeholder {
    position: relative;
}
